<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <a href="/" class="header-logo"

        ><svg class="header-logo-icon" width="44" height="39">
          <use href="../img/svg/header.svg#icon-logo"></use></svg
      ></a>
      <ul class="header-menu-list">
        <li class="header-menu-list-point">
          <a href="/" class="header-menu-list-link"></a>About us
        </li>
        <li class="header-menu-list-point">
          <a href="/" class="header-menu-list-link"></a>Our collection
        </li>
        <li class="header-menu-list-point">
          <a href="/" class="header-menu-list-link"></a>Customer order
        </li>
        <li class="header-menu-list-point">
          <a href="/" class="header-menu-list-link"></a>Testimonials
        </li>

      </ul>
    </nav>
    <div class="header-address-socials-block">
      <address class="header-address">
        <a class="header-phone" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>
      <div class="header-mobile-socials-block">
        <ul class="header-socials-list">
          <li class="header-socials-point">
            <a href="https://www.facebook.com/goITclub/" class="header-socials-list-link">
              <svg class="header-socials-list-icon" aria-label="facebook icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-socials-point">
            <a href="https://www.instagram.com/goitclub/" class="header-socials-list-link">
              <svg class="header-socials-list-icon" aria-label="instagram icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-socials-point">
            <a href="https://www.youtube.com/c/GoIT" class="header-socials-list-link">
              <svg class="header-socials-list-icon" aria-label="youtube icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button class="open-navigation-menu-btn">
          <svg class="open-navigation-menu-icon" aria-label="navigation menu icon">
            <use href="./img/icons.svg#icon-nav"></use>
          </svg>

        </a>
      </li>
      <li class="header-socials-pont">
        <a href="" class="header-socials-list-link">
          <svg class="header-socials-list-icon" aria-label="">
            <use href="../img/svg/header.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-socials-pont">
        <a href="" class="header-socials-list-link">
          <svg class="header-socials-list-icon" aria-label="">
            <use href="../img/svg/header.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="open-navigation-menu-btn">
      <svg class="open-navigation-menu-icon" aria-label="navigation menu icon">
        <use href="../img/svg/header.svg#icon-burger-menu"></use>
      </svg>
    </button>

  </div>
</header>
