<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <div class="reverse-mobile">
        <img
          srcset="/img/hero/girl.jpg 1x, /img/hero/girl@2x.jpg 2x"
          src="/img/hero/girl.jpg"
          width="335px"
          height="545px"
          alt="girl"
          class="photo-girls-ua"
        />
        <h1 class="hero-title">
          Reviving the traditional <span class="hero-title-word">Ukrainian</span> artistry in every
          stitch.
          <button type="button" class="hero-section-button">
            ORDER
            <svg class="hero-icon" width="27" height="21">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </h1>
      </div>
      <div class="hero-item-second">
        <div class="position-container">
          <svg class="second-icon-hero" width="52" height="51">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
          <p class="second-hero-title">all embroidery is made by hand</p>
        </div>
        <img
          srcset="/img/hero/Group.png 1x, /img/hero/Group@2x.png 2x"
          src="/img/hero/Group.png"
          width="142px"
          height="156px"
          alt="small-ukraine"
          class="photo-small-ua"
        />
      </div>
    </div>
  </div>
</section>
