<section class="our-collection">
  <h2 class="collection-main-title">Our collection</h2>
  <ul class="collection-list">
    <li class="collection-list-item">
      <img src="" srcset="" sizes="" alt="" />
      <h3 class="collection-title"></h3>
      <p class="collection-content"></p>
    </li>
    <li class="collection-list-item">
      <img src="" srcset="" sizes="" alt="" />
      <h3 class="collection-title"></h3>
      <p class="collection-content"></p>
    </li>
    <li class="collection-list-item">
      <img src="" srcset="" sizes="" alt="" />
      <h3 class="collection-title"></h3>
      <p class="collection-content"></p>
    </li>
    <li class="collection-list-item">
      <img src="" srcset="" sizes="" alt="" />
      <h3 class="collection-title"></h3>
      <p class="collection-content"></p>
    </li>
    <li class="collection-list-item">
      <img src="" srcset="" sizes="" alt="" />
      <h3 class="collection-title"></h3>
      <p class="collection-content"></p>
    </li>
    <li class="collection-list-item">
      <img src="" srcset="" sizes="" alt="" />
      <h3 class="collection-title"></h3>
      <p class="collection-content"></p>
    </li>
  </ul>
</section>
