<section class="our-collection" #id="Our-collection">
  <div class="container">
    <h2 class="collection-main-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <img
          class="collection-img"
          srcset="
            ./img/Our-Collection/poltava-mobile.jpg         335w,
            ./img/Our-Collection/poltava-mobile@2x.jpg      670w,
            ./img/Our-Collection/poltava-table.jpg          342w,
            ./img/Our-Collection/poltava-table@2x.jpg       684w,
            ./img/Our-Collection/poltava-desctop1280.jpg    347w,
            ./img/Our-Collection/poltava-desctop1280@2x.jpg 694w,
            ./img/Our-Collection/poltava-desctop.jpg        400w,
            ./img/Our-Collection/poltava-desctop@2x.jpg     800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/Our-Collection/poltava-desctop.jpg"
          alt="photo of Vyshyvanka"
        />
        <h3 class="collection-title-mobile">AUGUST Poltava women's blouseRING</h3>
        <p class="collection-content-mobile">3300 UAH</p>
        <h3 class="collection-title">AUGUST Poltava women'sblouseRING</h3>
        <p class="collection-content">3300 UAH</p>
      </li>
      <li class="collection-list-item">
        <img
          class="collection-img"
          srcset="
            ./img/Our-Collection/gorgany-mobile.jpg         335w,
            ./img/Our-Collection/gorgany-mobile@2x.jpg      670w,
            ./img/Our-Collection/gorgany-table.jpg          342w,
            ./img/Our-Collection/gorgany-table@2x.jpg       684w,
            ./img/Our-Collection/gorgany-desctop1280.jpg    347w,
            ./img/Our-Collection/gorgany-desctop1280@2x.jpg 694w,
            ./img/Our-Collection/gorgany-desctop.jpg        400w,
            ./img/Our-Collection/gorgany-desctop@2x.jpg     800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="../img/Our-Collection/gorgany-desctop.jpg"
          alt="photo of Vyshyvanka"
        />
        <h3 class="collection-title-mobile">Women's blouse Gorgany</h3>
        <p class="collection-content-mobile">3350 UAH</p>
        <h3 class="collection-title">Women's blouse Gorgany</h3>
        <p class="collection-content">3350 UAH</p>
      </li>
      <li class="collection-list-item">
        <img
          class="collection-img"
          srcset="
            ./img/Our-Collection/mountain-mobile.jpg         335w,
            ./img/Our-Collection/mountain-mobile@2x.jpg      670w,
            ./img/Our-Collection/mountain-table.jpg          342w,
            ./img/Our-Collection/mountain-table@2x.jpg       684w,
            ./img/Our-Collection/mountain-desctop1280.jpg    347w,
            ./img/Our-Collection/mountain-desctop1280@2x.jpg 694w,
            ./img/Our-Collection/mountain-desctop.jpg        400w,
            ./img/Our-Collection/mountain-desctop@2x.jpg     800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/Our-Collection/mountain-desctop.jpg"
          alt="photo of Vyshyvanka"
        />
        <h3 class="collection-title-mobile">Mountain men's shirt</h3>
        <p class="collection-content-mobile">3300 UAH</p>
        <h3 class="collection-title">Women's blouse Crimea</h3>
        <p class="collection-content">4000 UAH</p>
      </li>
      <li class="collection-list-item">
        <img
          class="collection-img"
          srcset="
            ./img/Our-Collection/yasen-mobile.jpg              335w,
            ./img/Our-Collection/yasen-mobile@2x.jpg           670w,
            ./img/Our-Collection/verkhovina-table.jpg          342w,
            ./img/Our-Collection/verkhovina-table@2x.jpg       684w,
            ./img/Our-Collection/verkhovina-desctop1280.jpg    347w,
            ./img/Our-Collection/verkhovina-desctop1280@2x.jpg 694w,
            ./img/Our-Collection/verkhovina-desctop.jpg        400w,
            ./img/Our-Collection/verkhovina-desctop@2x.jpg     800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="/img/Our-Collection/verkhovina-desctop.jpg"
          alt="photo of Vyshyvanka"
        />
        <h3 class="collection-title-mobile">Men's shirt Yasen</h3>
        <p class="collection-content-mobile">1700 UAH</p>
        <h3 class="collection-title">Men's shirt Verkhovina</h3>
        <p class="collection-content">3100 UAH</p>
      </li>
      <li class="collection-list-item">
        <img
          srcset="
            ./img/Our-Collection/crimea-mobile.jpg         335w,
            ./img/Our-Collection/crimea-mobile@2x.jpg      670w,
            ./img/Our-Collection/crimea-table.jpg          342w,
            ./img/Our-Collection/crimea-table@2x.jpg       684w,
            ./img/Our-Collection/crimea-desctop1280.jpg    347w,
            ./img/Our-Collection/crimea-desctop1280@2x.jpg 694w,
            ./img/Our-Collection/crimea-desctop.jpg        400w,
            ./img/Our-Collection/crimea-desctop@2x.jpg     800w
          "
          class="collection-img"
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/Our-Collection/crimea-desctop.jpg"
          alt="photo of Vyshyvanka"
        />
        <h3 class="collection-title-mobile">Women's blouse Crimea</h3>
        <p class="collection-content-mobile">4000 UAH</p>
        <h3 class="collection-title">Mountain men's shirt</h3>
        <p class="collection-content">3300 UAH</p>
      </li>
      <li class="collection-list-item">
        <img
          class="collection-img"
          srcset="
            ./img/Our-Collection/verkhovina-mobile.jpg    335w,
            ./img/Our-Collection/verkhovina-mobile@2x.jpg 670w,
            ./img/Our-Collection/yasen-table.jpg          342w,
            ./img/Our-Collection/yasen-table@2x.jpg       684w,
            ./img/Our-Collection/yasen-desctop1280.jpg    347w,
            ./img/Our-Collection/yasen-desctop1280@2x.jpg 694w,
            ./img/Our-Collection/yasen-desctop.jpg        400w,
            ./img/Our-Collection/yasen-desctop@2x.jpg     800w
          "
          sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
          src="./img/Our-Collection/yasen-desctop.jpg"
          alt="photo of Vyshyvanka"
        />
        <h3 class="collection-title-mobile">Men's shirt Verkhovina</h3>
        <p class="collection-content-mobile">3100 UAH</p>
        <h3 class="collection-title">Men's shirt Yasen</h3>
        <p class="collection-content">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
