<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <!-- Testimonials_1 -->
  <section id="testimonials" class="testimonials">
    <div class="testimonials_div container">
      <h2 class="title_testimonials">Testimonials</h2>
      <ul class="test_list">
        <li class="testimonials-list">
          <div>
            <img class="icon_test" src="../img/your order/Maria_Tkachuk.jpg" alt="Maria_Tkachuk">
          </div>
          <h3 class="title_test">Maria Tkachuk</h3>
          <p class="text_tesr">
            I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka Vibes.
            They have models for every taste - from classic to modern. I bought an embroidered
            dress to celebrate a special occasion and received impeccable service and refinement
            in every detail.
          </p>
        </li>
        <li class="testimonials-list">
          <div>
            <img class="icon_test" src="../img/your order/Sergey_Rybachok.jpg" alt="Sergey_Rybachok">
          </div>
          <h3 class="title_test">Sergey Rybachok</h3>
          <p class="text_tesr">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply
            masterpieces! I fell in love with the quality of the materials and the skill of the
            artisans behind each product. This is my favorite embroidery shop where I always find
            something special and unique.
          </p>
        </li>
        <li class="testimonials-list">
          <div>
            <img class="icon_test" src="../img/your order/Natalia_Chatuk.jpg" alt="Natalia_Chatuk">
          </div>
          <h3 class="title_test">Natalia Chatuk</h3>
          <p class="text_tesr">
            Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture. Their
            embroidery reflects the spirit and traditions of our people. I not only buy
            embroidered shirts for myself, but also give them to my friends abroad as a symbol of
            our beauty and national pride.
          </p>
        </li>
      </ul>
    </div>
  </section>

</body>

</html>