/* ================ OUR COLLECTION SECTION ================ */
.our-collection {
  background: #1c2225;
  padding-top: 80px;
  padding-bottom: 60px;
}
.collection-main-title {
  color: var(--white, #fcf9f9);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  font-style: normal;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 40px;
}
.collection-title-mobile {
  color: var(--white, #fcf9f9);
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 8px;
}
.collection-content-mobile {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.collection-title {
  display: none;
}
.collection-content {
  display: none;
}
.collection-list {
  display: flex;
  flex-direction: column;
}

.collection-img {
  border-radius: 4px;
}

/*================  TABLE  ==================*/

@media screen and (min-width: 768px) {
  .our-collection {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .collection-main-title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }
  .collection-title-mobile {
    display: none;
  }
  .collection-content-mobile {
    display: none;
  }
  .collection-title {
    height: 18px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white, #fcf9f9);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 8px;
  }
  .collection-content {
    display: block;
    color: rgba(252, 249, 249, 0.4);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
  }
  .collection-list {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
  .collection-list-item {
    width: calc((100% - 20px) / 2);
  }
}
/* ================== Desktop 1280px ==================== */
@media screen and (min-width: 1280px) {
  .collection-list {
    row-gap: 40px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .collection-list-item {
    width: calc((100% - 40px) / 4);
  }
}
