/* ================ TESTIMONIALS ================ */


.container {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {

    .container {
        max-width: 768px;
        overflow: hidden;
    }

}

@media screen and (min-width: 1280px) {

  
    .container {
        max-width: 1280px;
        overflow: hidden;
    }

}

@media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
        overflow: hidden;
    }

}



@media screen and (max-width: 767px) {


  

    .testimonials-list:nth-child(2),
    .testimonials-list:nth-child(3) {
        display: none;
    }

}

@media screen and (max-width: 767px) {



    .testimonials {
        width: 375px;
        background: #1c2225;
        padding-bottom: 80px;
    }


    .testimonials_div {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 335px;
    }

    .title_testimonials {
        color: var(--white, #fcf9f9);
        font-family: Manrope;
        font-size: 44px;
        font-weight: 500;
        line-height: 64px;
        /* 145.455% */
        letter-spacing: -1.32px;
        display: inline-flex;
        align-items: flex-start;
        margin-bottom: 64px;
    }

    .test_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 

    }

    .testimonials-list {
        margin: auto;

        display: flex;
        padding: 0px 18px 18px 18px;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10);

        width: 100%;
        box-sizing: border-box;
    }

    .title_test {
        color: var(--white, #fcf9f9);
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        /* 150% */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }

    .text_tesr {
        color: rgba(252, 249, 249, 0.4);
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 291px;
    }

    .icon_test {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 64px;
        box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
        margin-top: -50%;
    }

    .icon_test img {
        position: absolute;
        width: 100%;
        height: auto;
        border-radius: 64px;
    }
}

@media screen and (max-width: 1279px) {
    .testimonials-list:nth-child(3) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .testimonials {
        background: #1c2225;
        width: 768px;
        padding-bottom: 100px;
    }

    .testimonials_div {
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 704px;
    }

    .title_testimonials {
        color: var(--white, #fcf9f9);
        font-family: Manrope;
        font-size: 44px;
        font-weight: 500;
        line-height: 64px;
        /* 145.455% */
        letter-spacing: -1.32px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 64px;
    }

    .test_list {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        align-items: center;
        justify-content: center; 
    }

    .testimonials-list {
        margin: auto;
        display: flex;
        padding: 0px 18px 18px 18px;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.10);
        width: 100%;
        box-sizing: border-box;
    }

    .title_test {
        color: var(--white, #fcf9f9);
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        /* 150% */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }

    .text_tesr {
        color: rgba(252, 249, 249, 0.4);
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 176px;
    }

    .icon_test {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 64px;
        box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
        margin-top: -50%;
    }

    .icon_test img {
        position: absolute;
        width: 100%;
        height: auto;
        border-radius: 64px;
    }
}


@media screen and (min-width: 1280px) {



    .testimonials {
        background: #1c2225;
        width: 1280px;
        padding-bottom: 150px;
    }

    .testimonials_div {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 1080px;
    }


    .title_testimonials {
        color: var(--white, #fcf9f9);
        font-family: Manrope;
        font-size: 44px;
        font-weight: 500;
        line-height: 64px;
        /* 145.455% */
        letter-spacing: -1.32px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 64px;
    }

    .test_list {
        display: flex;
        align-items: flex-start;
        gap: 26px;
        align-items: center;
        justify-content: center; 
    }

    .testimonials-list {
        margin: auto;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        padding: 0px 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.1);
        width: calc((100% - 52px) / 3);
        width: 100%;
        box-sizing: border-box;
    }

    .title_test {
        color: var(--white, #fcf9f9);
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        /* 150% */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }

    .text_tesr {
        color: rgba(252, 249, 249, 0.4);
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 175px;
        width: 307px;
    }

    .icon_test {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 64px;
        box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
        margin-top: -50%;
    }

    .icon_test img {
        position: absolute;
        width: 100%;
        height: auto;
        border-radius: 64px;
    }

}

@media screen and (min-width: 1440px) {
    .testimonials {
        background: #1c2225;
        width: 1440px;
        padding-bottom: 150px;
    }

    .testimonials_div {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 1240px;
    }



    .title_testimonials {
        color: var(--white, #fcf9f9);
        font-family: Manrope;
        font-size: 44px;
        font-weight: 500;
        line-height: 64px;
        /* 145.455% */
        letter-spacing: -1.32px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    .test_list {
        display: flex;
        align-items: flex-start;
        gap: 26px;
        align-items: center;
        justify-content: center; 
    }

    .testimonials-list {
        margin: auto;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        padding: 0px 18px 18px 18px;
        border-radius: 4px;
        border: 1px solid rgba(252, 249, 249, 0.1);
        width: calc((100% - 52px) / 3);
        width: 100%;
        box-sizing: border-box;
    }

    .title_test {
        color: var(--white, #fcf9f9);
        text-align: center;
        font-family: Manrope;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        /* 150% */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 8px;
    }

    .text_tesr {
        color: rgba(252, 249, 249, 0.4);
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 175px;
    }

    .icon_test {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        border-radius: 64px;
        box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
        margin-top: -50%;
    }

    .icon_test img {
        position: absolute;
        width: 100%;
        height: auto;
        border-radius: 64px;
    }
}

       